@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 85vh;
  background-image: url(./men_cozastore_img.webp);
  background-size: cover;
  background-repeat: repeat;
  background-position-y: -34px;
  transition: all 0.5s ease;
}
.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 1000;
}
.nav img {
  margin: 40px 40px;
  width: 50%;
}
.i_ucon {
  display: flex;
}
.ul_con {
  display: flex;
  list-style: none;
}
.ul_con li {
  font-size: 17px;
  padding-left: 21px;
  margin-top: 34px;
  color: black;
  font-family: Nunito Sans, serif;
  cursor: pointer;
  user-select: nonex;
}
.ul_con li:nth-child(3)::after {
  content: "Now";
  font-family: Nunito Sans;
  font-size: 9px;
  background-color: palevioletred;
  padding: 3px 3px;
  border-radius: 9px;
  color: white;
  position: absolute;
  top: 13px;
  left: 410px;
}

.search_logo {
  font-size: 24px;
  font-weight: bold;
  color: black;
  position: relative;
  right: 130px;
  top: 10px;
}
.cart_logo {
  font-size: 24px;
  font-weight: bold;
  color: black;
  position: relative;
  right: 100px;
  top: 10px;
}
.heart_logo {
  font-size: 24px;
  font-weight: bold;
  color: black;
  position: relative;
  right: 70px;
  top: 10px;
  color: rgb(180, 87, 87);
}
.menu_bar {
  width: 50%;
}
.collition_sec {
  width: 50%;
}
.text_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  transition: all 0.5s ease;
  margin-top: 40px;
}
.text_section h2 {
  font-size: 50px;
  font-family: Nunito Sans, serif;
  transition: all 0.5s ease;
}
.text_section h1 {
  font-size: 60px;
  font-family: PlayFair Display;
  margin-top: 22px;
  transition: all 0.5s ease;
}
.text_section input {
  width: 170px;
  padding: 13px 13px;
  margin-top: 48px;
  border-radius: 22px;
  border: none;
  background-color: rgb(86, 86, 201);
  color: white;
  font-family: Nunito Sans;
  font-size: 19px;
  transition: all 0.5s ease;
}
.men_section {
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: none;
  transition: all 0.5s ease;
  margin-top: 40px;
}
.men_section h2 {
  font-size: 50px;
  font-family: Nunito Sans, serif;
  transition: all 0.5s ease;
}
.men_section h1 {
  font-size: 60px;
  font-family: PlayFair Display;
  margin-top: 22px;
  transition: all 0.5s ease;
}
.men_section input {
  width: 170px;
  padding: 13px 13px;
  margin-top: 48px;
  border-radius: 22px;
  border: none;
  background-color: rgb(86, 86, 201);
  color: white;
  font-family: Nunito Sans;
  font-size: 19px;
  transition: all 0.5s ease;
}
.men_section input:hover {
  background-color: rgb(233, 177, 177);
  transition: all 0.5s ease;
  width: 190px;
}
.text_section input:hover {
  background-color: rgb(216, 170, 170);
  transition: all 1s ease;
  width: 190px;
}
section {
  width: 100%;
}
.main_fashion_con {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
  flex-wrap: wrap;
}
.first_fashion {
  width: 370px;
  height: 230px;
  border: 1px double gainsboro;
  border-radius: 7px;
  margin-bottom: 20px;
}
.cover {
  background-color: #7c89e3;
  opacity: 0.7;
  width: 29%;
  height: 38%;
  position: absolute;
  display: none;
  border-radius: 5px;
}
.cover::after {
  content: "";
  position: absolute;
  width: 0;
  left: 50%;
  height: 1px;
  opacity: 1;
  background-color: white;
  transition: 0.5s ease-in;
  right: 50%;
  transform-origin: center;
  bottom: 40px;
}
.cover:hover:after {
  content: " ";
  width: 20%;
  right: 0;
  left: 15px;
}

.shop {
  position: relative;
  top: 170px;
  left: 16px;
  font-family: Nunito Sans;
  color: white;
  font-weight: bolder;
  transform: translateY(-200px);
  transition: all 0.5s ease;
}
.first_fashion:hover .cover {
  display: block;
}
.img_con {
  display: flex;
  width: 90%;
}

.img_con img {
  width: 320px;
  margin-left: 29px;
}
.sec_fashion {
  width: 370px;
  height: 230px;
  border: 1px double gainsboro;
  border-radius: 7px;
  margin-bottom: 20px;
}
.sec_fashion:hover .cover {
  display: block;
}
.sec_fashion:hover .shop {
  transform: translateY(-10px);
}
.third_fashion {
  width: 370px;
  height: 230px;
  border: 1px double gainsboro;
  border-radius: 7px;
  margin-bottom: 20px;
}
.third_fashion:hover .cover {
  display: block;
}
.third_fashion:hover .shop {
  transform: translateY(-10px);
}
.product_section{
       width: 100%;
       display: flex;
       flex-direction: column;
       margin: 70px 50px;
}
.product_section h1{
      font-size: 39px;
      font-family: Nuito sans;
      font-weight: bolder;
}
.choose_topic{
       width: 100%;
       display: flex;
       justify-content: space-between;
      
}
.topic_con{
       list-style: none;
       display: flex;
       margin-top: 20px;
     
}

.topic_con li{
       padding-right: 50px;
       font-size: 18px;
       font-family: Nuito sans;
       color: gray;
}
.topic_con li:nth-child(1){
              font-size: 19px;
              color: black;      
            
}
.product_input{
       width: 30%;
}
.product_input input[type="button"]{
       width: 100px;
       height: 40px;
       background-color: inherit;
       border: 1px solid gainsboro;
       color: gray;
       padding-right: 40px;
       font-size: 20px;
       border-radius: 5px;
       padding-left: 3px;
}
.product_input input[type="search"]{
      width: 170px;
      height: 40px;
      background-color: inherit;
      border: 1px solid gainsboro;
      color: rgb(126, 119, 119);
      padding-right: 40px;
      font-size: 20px;
      border-radius: 5px;
      padding-left: 3px;
      margin-left: 20px;
}
.product_input input:hover{
       background-color: #7c89e3;
       color: white;
       font-weight: bolder;
       color: white;
       transition: all .5s;
}
.fashion_product{
       width: 100%;
}
.product_row_con{
       display:  flex;
       
}
.first_product button{
       width: 120px;
       border: none;
       background-color: white;
       color: black;
       font-family: Nuito sans;
       height: 40px;
       border-radius: 17px;
       position: relative;
       transform: translate(70px, 420px);
       
}
.product_row_con div:nth-child(1){
   
       margin-left: 35px;
    background-image: url(https://preview.colorlib.com/theme/cozastore/images/xproduct-01.jpg.pagespeed.ic.6WHvZRJRuO.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 540px;
    height: 300px;
    overflow: hidden;
   
}
.product_row_con div:nth-child(1):hover{
       background-position: center ;
       transition: all .5s;
  
     
}
.sec_product button{
      width: 120px;
      border: none;
      background-color: white;
      color: black;
      font-family: Nuito sans;
      height: 40px;
      border-radius: 17px;
      position: relative;
      transform: translate(70px, 420px);
}
.product_row_con div:nth-child(2){
      width: 540px;
      height: 300px;
      margin-left: 50px;
   background-image: url(https://preview.colorlib.com/theme/cozastore/images/xproduct-02.jpg.pagespeed.ic._mIojWDfEX.webp);
   background-repeat: no-repeat;
   background-size: cover;
   overflow: hidden;
}
.product_row_con div:nth-child(2):hover{
       background-position: center;
       transition: all .5s
     
}
.third_product button{
      width: 120px;
      border: none;
      background-color: white;
      color: black;
      font-family: Nuito sans;
      height: 40px;
      border-radius: 17px;
      position: relative;
      transform: translate(70px, 420px);
}
.product_row_con div:nth-child(3){
      width: 540px;
    height: 300px;
      margin-left: 50px;
   background-image: url(https://preview.colorlib.com/theme/cozastore/images/xproduct-03.jpg.pagespeed.ic.eOHs429Gtb.webp);
   background-repeat: no-repeat;
   background-size: cover;
   overflow: hidden;
}
.product_row_con div:nth-child(3):hover{
       background-position: center;
       transition: all .5s;
}
.fourth_product button{
      width: 120px;
      border: none;
      background-color: white;
      color: black;
      font-family: Nuito sans;
      height: 40px;
      border-radius: 17px;
      position: relative;
      transform: translate(70px, 420px);
}
.product_row_con div:nth-child(4){
      width: 540px;
      height: 300px;
      margin-left: 50px;
   background-image: url(https://preview.colorlib.com/theme/cozastore/images/xproduct-04.jpg.pagespeed.ic.1MaP4euDx9.webp);
   background-repeat: no-repeat;
   background-size: cover;
   margin-right: 20px;
   overflow: hidden;
}

.product_row_con div:nth-child(4):hover{
       background-position: center;
       transition: all .5s;
}


















/* form JS */
li.lishow {
  color: blueviolet;
}
.search_bar {
  width: 100%;
  height: 60px;
  background-color: white;
  position: absolute;
  right: 0;
  display: flex;
  transition: all 1s ease;
}
.search_bar i {
  font-size: 30px;
  position: relative;
  left: 40px;
  top: -4px;
  transition: all 1s ease;
}
.search_text {
  font-size: 40px;
  font-weight: bold;
  font-family: Nunito Sans;
  opacity: 0.3;
  position: absolute;
  right: 120px;
}
.header_bg {
  background-image: url(./women_cozastore_img.webp);
  transition: all 0.5s ease;
}
.show_men {
  display: flex;
  transition: all 1s ease;
}
.menu_bar {
  cursor: pointer;
}
.shop_show {
  transform: translateY(-10px);
  transition: all 0.5s ease;
}
button.show_button{
       transform: translateY(220px) translateX(70px);
       transition: all .5s ease;
       transform-origin: bottom;
}
button.remove_button{
      transform: translate(70px, 420px);
      transition: all .5s ease;
      transform-origin: top;
}

































/* media query */

@media (max-width: 660px) {
  .nav {
    width: 100%;
    background-color: white;
    height: 15vh;
  }
  .i_ucon img {
    width: 100%;
  }
  .ul_con {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    top: 60px;
    left: 90px;
    transition: all 0.5s ease;
    transform: translateY(-120px);
  }

  .first {
    width: 25px;
    height: 3px;
    background-color: black;
    position: relative;
    left: 42px;
    top: 3px;
    margin-bottom: 5px;
  }
  .sec {
    width: 25px;
    height: 3px;
    background-color: black;
    position: absolute;
    right: 14px;
    top: 29px;
    margin-top: 2px;
  }
  .third {
    width: 25px;
    height: 3px;
    background-color: black;
    position: relative;
    left: 42px;
    top: -23px;
    margin-top: 6px;
  }
  header {
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 44px;
    background-position-x: -180px;
  }
  .collition_sec {
    width: 100%;
  }
  .text_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: none;
    margin-top: 120px;
    margin-left: 20px;
  }
  .text_section h2 {
    font-size: 30px;
  }
  .text_section h1 {
    font-size: 70px;
    color: gray;
  }
  .men_section {
    display: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-top: 120px;
    margin-left: 20px;
  }
  .men_section h2 {
    font-size: 30px;
  }
  .men_section h1 {
    font-size: 60px;
    color: gray;
  }
  .cover {
    width: 90%;
    height: 69%;
    border-radius: 5px;
  }
  .cover::after {
    content: "";
    position: absolute;
    width: 0;
    left: 50%;
    height: 1px;
    opacity: 1;
    background-color: white;
    transition: 0.5s ease-in;
    right: 50%;
    transform-origin: center;
    bottom: 200px;
  }
  .cover:hover:after {
    content: " ";
    width: 20%;
    right: 0;
    left: 15px;
  }

  .first_fashion {
    width: 90%;
    height: 400px;
  }
  .img_con img {
    width: 520px;
    height: 390px;
  }
  .sec_fashion {
    width: 90%;
    height: 400px;
  }
  .third_fashion {
    width: 90%;
    height: 400px;
  }

  /* media query JS classlist */
  .show_f_menu {
    position: relative;
    transform: rotate(50deg) translate(-12px, -12px);
    transition: all 0.5s ease;
  }
  .show_s_menu {
    opacity: 0;
    transition: all 0.5s ease;
    position: absolute;
  }
  .show_t_menu {
    position: relative;
    transform: rotate(-50deg);
    transition: all 0.5s ease;
  }
  .show_liList {
    display: flex;
    transform: translateY(0px);
  }
  .show_men {
    display: flex;
    transition: all 1s ease;
  }
}
